body{
  background-image: url("./Project-1/IMG/bodyImg.png") ;
  background-size: cover;
  background-repeat: no-repeat;
}

#container{display: flex;
  flex-direction: column;
  align-items: center;
}
